/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap');
/* Display None for Unwanted Template Pieces */
h1:not(.site-title):before, h2:before, .entry .entry-title:before {
	display: none;
}
header, .entry-footer {
	display: none;
}
body {
	font-family: 'Lato', sans-serif;
	line-height: 150%;
}
h2 {
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	line-height: 120%;
	font-weight: 200;
}
p {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 150%;
	color: #766B6D;
}
p.caption {
	font-size: 14px;
	font-style: italic;
}
img {
	margin: auto;
}
/* Remove Unwanted Spacing Calculations */
.entry .entry-content > *, .entry .entry-summary > * {
	margin: 0;}
.entry .entry-content, .entry .entry-summary {
	max-width: 100%;
	margin: 0;
}
@media only screen and (min-width: 600px) {
.wp-block-column:nth-child(2n) {margin-left: 0;}
}
@media only screen and (min-width: 768px) {
	.entry .entry-content, .entry .entry-summary {
		max-width: 100%;
		margin: 0;
		padding: 0;
	}
	.entry .entry-content > *, .entry .entry-summary > * {
		max-width: 100%;
		margin: 0;
	}
}
@media only screen and (min-width: 1168px) {
	.entry .entry-content > *, .entry .entry-summary > * {
		max-width: 100%;
		margin: 0;
	}
}

/* Custom Section Adjustments */
.reg-top {
	text-align: center;
	background: url(https://megnsparkle.com/wp-content/uploads/2019/07/megnsparkle_header_bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	padding: 25vh 5% 5%;
	height: auto;
}
.tutorial-top {
	text-align: center;
	background: #F0CCD4;
	position: relative;
	padding:  80px 0 0;
	height: auto;
}
.wp-block-columns.has-2-columns.reg-top {
	overflow: hidden;
}
.reg-top h2, .tutorial-top h2 {
	font-weight: 200;
	z-index: 1;
	position: relative;
}
.tutorial-top h2 {
	font-size: 24px;
}
.tutorial-top .sorry {
	font-size: 16px;
}
.reg-top .wp-block-image img {
	max-height: 28vh;
	width: auto;
	margin: auto;
}
.reg-top .wp-block-image.logo-header img, .tutorial-top .wp-block-image.logo-header img {
	width: auto;
	max-width: 180px;
	margin: 0px auto;
}
.reg-top figure.wp-block-image.palette-img {
    position: absolute;
    top: 1%;
    right: 1%;
	z-index: 0;
}
.reg-top figure.wp-block-image.lotion-img {
    position: absolute;
    top: 1%;
    right: 1%;
	z-index: 0;
}
.reg-top figure.wp-block-image.sparkle {
    position: absolute;
    top: 1%;
    left: 1%;
	z-index: 0;
}
.entry .entry-content .wp-block-image img {
	z-index: 2;
}
h2.sold-out {
	margin: 0.2rem 0 1rem;
	text-transform: uppercase;
}
p.sorry {
	position: relative;
	color: #000;
	font-size: 20px;
	font-weight: 100;
	letter-spacing: 7px;
	margin: auto auto 0 auto;
	z-index: 2;
}
@media (min-width: 600px) {
	.reg-top {
		text-align: left;
		padding: 28vh 15% 15%;
	}
	h2 {
		font-size: 32px;
	}
	.reg-top h2, .tutorial-top h2 {
		font-size: 50px;
		line-height: 150%;
	}
	.reg-top .wp-block-image img {
		max-height: 400px;
	}
	.reg-top .palette-img.wp-block-image img {
		max-height: 600px;
		margin: 0;
		width: 380px;
	}
	.reg-top .lotion-img.wp-block-image img {
		max-height: 600px;
		margin: 0;
		width: 380px;
	}
	.wp-block-columns.has-2-columns.reg-top .wp-block-column:nth-last-of-type(2), .wp-block-columns.has-2-columns.tutorial-top .wp-block-column:nth-last-of-type(2) {
		flex-basis: 100%;
	}
	.wp-block-columns.has-2-columns.reg-top .wp-block-column:nth-last-of-type(1), .wp-block-columns.has-2-columns.tutorial-top .wp-block-column:nth-last-of-type(1) {
		flex-basis: 0%;
	}
	p.sorry {
		font-size: 30px;
	}
}
@media only screen and (min-width: 768px) {
	.reg-top {
		margin: 0;
	}
	
}
@media only screen and (min-width: 1025px) {
	.reg-top {
		padding: 10%;
	}
	.tutorial-top {
		max-width: 800px !important;
		width: 80%;
		margin: 0 auto !important;
	}
	.reg-top h2, .tutorial-top {
		font-size: 50px;
		line-height: 150%;
	}
	.wp-block-columns.has-2-columns.reg-top .wp-block-column:nth-last-of-type(2) {
		flex-basis: 100%;
		width: 55%;
		margin-right: 40%;
		margin-left: 5%;
	}
	.wp-block-columns.has-2-columns.reg-top .wp-block-column:nth-last-of-type(1) {
		flex-basis: 0%;
	}
	.wp-block-columns.has-2-columns.tutorial-top .wp-block-column:nth-last-of-type(2) {
		flex-basis: 100%;
		width: 90%;
		margin-right: 5%;
		margin-left: 5%;
	}
	.wp-block-columns.has-2-columns.tutorial-top .wp-block-column:nth-last-of-type(1) {
		flex-basis: 0%;
	}
	.reg-top figure.wp-block-image.palette-img {
		position: absolute;
		top: 16%;
		right: 1%;
		width: 40%;
	}
	.reg-top .palette-img.wp-block-image img {
		max-height: none;
		margin: 0;
		width: 100%;
	}
	.reg-top figure.wp-block-image.lotion-img {
		position: absolute;
		top: 16%;
		right: 1%;
		width: 40%;
	}
	.reg-top .lotion-img.wp-block-image img {
		max-height: none;
		margin: 0;
		width: 100%;
	}
	.reg-top figure.wp-block-image.sparkle {
		position: absolute;
		top: 3%;
		left: 3%;
		width: 250px;
	}
	.reg-top .sparkle.wp-block-image img {
		max-height: none;
		margin: 0;
		width: 100%;
	}
}
h2.benefits {
	padding: 50px 5% 20px;
}
.benefits {
	padding: 15%;
}
.benefits .wp-block-column {
	padding: 50px 30px;
}
.benefits .wp-block-image img {
	max-width: 180px;
}
@media only screen and (min-width: 600px) {
	.benefits {
		padding: 5%;
	}
	.wp-block-columns.has-3-columns.benefits .wp-block-column:nth-of-type(3) {
		margin: auto;
	}
}
@media only screen and (min-width: 768px) {
	.wp-block-columns.has-3-columns.benefits .wp-block-column:nth-of-type(3) {
		margin: 0 0 1em 32px;
	}
}
@media only screen and (min-width: 1025px) {
	h2.benefits-header {
		color: #fff;
		padding: 80px 5% 30px;
	}
	.benefits {
		padding: 80px 15% 80px;
	}
}
.bottom-reg {
	
}
.wp-block-columns.has-2-columns.brand-block {
	width: 100%;
	background: #F0CCD4;
}
.wp-block-columns.has-2-columns.brand-block .wp-block-column:first-child {
    width: 50%;
	height: auto;
    min-height: 40vh;
    margin-bottom: 0;
	background: url(https://megnsparkle.com/wp-content/uploads/2019/07/meg-n-sparkle-palette-brand-img.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.wp-block-columns.has-2-columns.brand-block.lotion .wp-block-column:first-child {
    width: 50%;
	height: auto;
    min-height: 50vh;
    margin-bottom: 0;
	background: url(https://megnsparkle.com/wp-content/uploads/2019/07/meg-n-sparkle-lotion-brand-img.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.wp-block-columns.has-2-columns.brand-block .wp-block-column:not(:first-child) {
	padding: 10%;
	margin-left: 0;
}
/* Contact Form 7 Styles */
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
	font-family: Lato, sans-serif;
	color: grey;
}
input[type="text"], input[type="email"] {
	width: 100%;
	border-radius: 100px;
}
.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
	width: 100%;
	margin: 0;
	background: rgba(0,0,0,1);
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	border-radius: 100px;
}
.button:hover, button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
	background: #f2d83c;
}
.button:focus, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus {
	background: #f2d83c;
}
.button:active, button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {
	background: #f2d83c;
}
div.wpcf7-mail-sent-ok {
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    border: none;
    background: #ff6300;
    padding: 25px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}
div.wpcf7-response-output {
	margin: 1em 0.5em;
}
form.wpcf7-form {
    position: relative;
    z-index: 1;
}
@media only screen and (min-width: 1025px) {
	form.wpcf7-form {
		width: 70%;
		margin: 0 15%;
	}
}
form.wpcf7-form p {
	margin: 0;
}
input[type="email"] {
	margin-bottom: 10px;
	text-align: center;
}

/* Footer Form Adjustments */
.wp-block-columns.has-2-columns.bottom-reg .wp-block-column:nth-of-type(2) {
	display: none;
}
.wp-block-columns.has-2-columns.bottom-reg {
	background: #000;
	color: #fff;
    margin-bottom: 50px;
}
.wp-block-columns.has-2-columns.bottom-reg h2 {
	font-size: 20px;
	font-weight: 700;
	text-align: center;
}
.wp-block-columns.has-2-columns.bottom-reg input[type="submit"] {
    width: 100%;
    margin: 0;
    background: rgba(255,80,105,1);
    box-shadow: none;
    border-radius: 100px;
}
.wp-block-columns.has-2-columns.bottom-reg input[type="submit"]:hover {
    background: rgba(150,13,32,1);
}
.wp-block-columns.has-2-columns.bottom-reg div.wpcf7-validation-errors, 
.wp-block-columns.has-2-columns.bottom-reg div.wpcf7-acceptance-missing {
	border: 2px solid rgba(255,80,105,1);
}
.wp-block-columns.has-2-columns.bottom-reg .wp-block-column {
	margin-bottom: 0;
	padding: 50px 5%;
}
@media only screen and (min-width: 600px) {
	.wp-block-columns.has-2-columns.bottom-reg .wp-block-column {
		flex-basis: 100%;
	}
	.wp-block-columns.has-2-columns.bottom-reg .wp-block-column {
		margin-bottom: 0;
		padding: 50px 15%;
	}
}
@media only screen and (min-width: 1025px) {
	.wp-block-columns.has-2-columns.bottom-reg .wp-block-column {
		margin-bottom: 0;
		padding: 25px;
	}
	.wp-block-columns.has-2-columns.bottom-reg h2 {
		vertical-align: middle;
		max-width: 14em;
		text-align: left;
		display: inline-block;
		margin: 0 0 0 5%;
	}
	.wp-block-columns.has-2-columns.bottom-reg div.wpcf7 {
		display: inline-block;
		width: 65%;
		height: 100%;
		vertical-align: middle;
	}
	.wp-block-columns.has-2-columns.bottom-reg form.wpcf7-form {
		width: 100%;
		margin: 0;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		vertical-align: middle;
	}
	.wp-block-columns.has-2-columns.bottom-reg form.wpcf7-form p:nth-of-type(1) {
		width: 62%;
		margin: 0 1%;
	}
	.wp-block-columns.has-2-columns.bottom-reg form.wpcf7-form p:nth-of-type(4) {
		width: 30%;
	}
	.wp-block-columns.has-2-columns.bottom-reg input[type="email"] {
		margin-bottom: 0;
	}
}
div.wpcf7 .ajax-loader {
	display: none;
}
/* Footer logo and disclaimer */
.logo-footer img {
	max-width: 180px;
	margin: auto;
}
/* Video & Share Block */
.page-id-59 .site-main {
	background: #F0CCD4;
}
.video, .share {
	width: 100%;
	margin: 0 !important;
}
.share {
	background: #fff;
	margin-bottom: 0 !important;
}
.entry .entry-content .share.wp-block-columns .wp-block-column > *:first-child {
	margin-top: 30px;
}
.wp-block-columns.has-2-columns.share .wp-block-column:nth-last-of-type(1) > :last-child {
	margin-bottom: 30px;
}
.share .wp-block-column {
	margin-bottom: 0;
}
.entry .entry-content .share .wp-block-image {
	max-width: 14%; display: inline-block; margin: 30px 4% 30px 5%; vertical-align: middle; text-align: center;
}
.entry .entry-content .share .wp-block-image img:hover,
.entry .entry-content .share .wp-block-image img:focus,
.entry .entry-content .share .wp-block-image img:active {
}
.wp-block-columns.has-2-columns.share .wp-block-column:nth-last-of-type(1) {
	padding: 0 7% 10px;
}
.wp-block-columns.has-2-columns.share .wp-block-column:nth-last-of-type(2) {
	padding: 10px 7% 0;
}
@media only screen and (min-width: 600px) {
	.video, .share {
		width: 80%;
		margin: 0 10% !important;
	}
	.share {
		background: #fff;
		margin-bottom: 80px !important;
	}
	.wp-block-columns.has-2-columns.share .wp-block-column:nth-last-of-type(1) {
		padding: 0;
	}
	.wp-block-columns.has-2-columns.share .wp-block-column:nth-last-of-type(2) {
		padding: 0;
		margin-bottom: 0;
	}
	.wp-block-columns.has-2-columns.tutorial-top .wp-block-column:nth-last-of-type(2) {
		padding: 0;
		margin-bottom: 20px;
	}
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1025px) {
	.video, .share {
		width: 80%;
		margin: 0 auto !important;
		max-width: 800px !important;
	}
	.share {
		background: #fff;
		margin-bottom: 80px !important;
	}
}
/* Captcha Styles */
.captcha-disclaimer {
	font-size: 14px;
	color: #8B8B8B;
	padding-top: 20px;
	padding-bottom: 50px;
}
.grecaptcha-badge {
	display: none;
}
/* Product Columns */
.wp-block-columns.products {max-width: 200px;margin:50px auto;}
@media only screen and (min-width: 600px) {
.wp-block-columns.products {max-width: 500px}
}
@media only screen and (min-width: 768px) {
.wp-block-columns.products {max-width: 600px}
}
@media only screen and (min-width: 1024px) {
.wp-block-columns.products {max-width: 700px;}
}
.wp-block-columns.products .wp-block-column {margin: 25px auto;}
@media (min-width: 600px) {
.wp-block-columns.products .wp-block-column {
    flex-basis: 33%;
    flex-grow: 0;
}
}
div#anr_captcha_field_1 div, div#anr_captcha_field_2 div {
	margin: auto;
}
@media (min-width:600px) {
.anr_captcha_field {
	text-align: center;
	padding: 5px 5%;
}
}
@media only screen and (min-width: 1025px) {
.wp-block-columns.has-2-columns.bottom-reg form.wpcf7-form p:nth-of-type(1) {
    width: 98%;
    margin: 0 1%;
}
}